.communityContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 143px 96px 153px;
  background-color: var(--color-primary-blackish);
}

.threeGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 75px;
  background-image: url("/img/UberHAUS_Fractal_2-Blackish.jpeg");
  padding-left: 75px;
  padding-right: 75px;
}
@media screen and (max-width: 966px) {
  .contentGrid {
    grid-template-columns: 1fr;
  }
}

.contentFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communityCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-secondary-beige);
}

.communityCTACopy {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-secondary-dirty-grey);
}
