
.govContainer {
  --c: #1400FF;
  --bg: #EEF1FD;
  --b: 4px solid var(--c);
  --p: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 143px 96px 153px;
  background-color: var(--bg);
  
}

.box {
  border: 4px solid #1400FF;
  padding: 15px;
  color: var(--c);
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.box h5 {margin: 0;}

.stack {
  width: 500px;
  display: flex;
  flex-direction: column;
}

h2, h5 {
  color: var(--c);
}

.item1, .item3 {
  width: 100%;
  border: var(--b);
  color: var(--c);
  padding: 25px;
}

.item2 {
  display: flex;
  width: 100%;
}

.columnn {
  width: 50%;
}

.columnn:nth-child(1) { padding-right: 25px; }

.columnn>div:not(:last-child)::after {
  --gap: 1rem;
  content: "";
  position: absolute;
  left: var(--gap);
  height: var(--gap);
  bottom: calc(-1 * var(--gap));
  border-left: var(--b);
}

.item2 h2 { color: var(--c); }

.spacer {
  width: var(--p);
  border-right: var(--b);
  margin-left: 25px;
}

.asideContainer {
  display: flex;
  flex-direction: column;
  padding: var(--p);
  gap: var(--p);
  width: 100%;
}

.aside {
  width: 100%;
  position: relative;
  border: var(--b);
  color: var(--c);
  padding: 25px 25px 10px 25px;
}
.aside1 { 
  height: auto;
  color: var(--c);
}
.aside1::before, .aside2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--p) - 4px);
  width: var(--p);
  height: 0;
  border-bottom: var(--b);
}

.aside2 {
  height: auto;
  color: var(--c);
}

.token {
  /* display: block; */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--c);
  display: grid;
  place-items: center;
  font-size: 12px;
  font-weight: 900;
}

.token h5 { color: var(--bg);}




@media screen and (max-width: 966px) {
  .govContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  padding-left: 75px;
  padding-right: 75px;
}

@media screen and (max-width: 966px) {
  .contentGrid {
    grid-template-columns: 1fr;
    margin-bottom: 38.5px;
    padding: 0;
  }
}

.flexCTA {
  margin-top: 38.5px;
}

@media screen and (max-width: 966px) {
  .flexCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.govCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-primary-blackish);
}

.govCTACopy {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-primary-blackish);
}

.govCTACopy2 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-primary-blackish);
}

@media screen and (max-width: 966px) {
  .govCTACopy {
    padding: 0;
    margin-bottom: 38.5px;
  }
}

@media screen and (max-width: 966px) {
  .govCTACopy {
    padding: 0;
    margin-bottom: 38.5px;
  }
}

.govCTAButton {
  background-color: var(--color-secondary-dirty-grey);
  color: var(--color-primary-blackish);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
}

.govCTAButton:hover {
  color: var(--color-primary-blackish);
}

.communityIllustrationContainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 966px) {
  .communityIllustrationContainer {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
  }
}

.communityIllustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.memberIllustration {
  width: 100%;
  height: 100%;
  /* height: 500px; */
  object-fit: cover;
  object-position: bottom;
}
