.heroSectionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 66px;
}

.heroTopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  /* padding: 0px 75px 96px 75px; */

  background-image: url("/img/UberHAUS_Fractal_2-Blackish.jpeg");
  background-color: var(--color-primary-blackish);
}

.heroBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: var(--color-primary-soft-pink);
}

.heroCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-primary-soft-pink);
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  padding-top: 96px;
  padding-left: 75px;
  padding-right: 75px;
}

.heroIllustrationContainer {
  width: 581px;
  height: 535px;
}

.heroCTAFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.heroButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.heroCTAButton {
  background-color: var(--color-secondary-dirty-grey);
  color: var(--color-primary-blackish);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  min-width: 235px;
}

.heroCTAButton:hover {
  color: var(--color-primary-blackish);
}

.heroSecondaryButton {
  background-color: transparent;
  color: var(--color-secondary-dirty-grey);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  min-width: 235px;
}

.heroSecondaryButton:hover {
  color: var(--color-primary-light-turquoise);
}
