.heroSectionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 66px;
}

@media screen and (max-width: 966px) {
  .heroSectionContainer {
    margin: 0;
  }
}

.heroTopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  /* padding: 0px 75px 96px 75px; */

  background-image: url("/img/UberHAUS_Fractal_2-Blackish.jpeg");
  background-color: var(--color-primary-blackish);
}

.heroBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  position: relative;
  background-color: var(--color-primary-soft-pink);
}

.heroCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-primary-soft-pink);
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  padding-top: 96px;
}

@media screen and (max-width: 966px) {
  .heroGrid {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    padding: 0;
  }
}

.heroIllustrationContainer {
  /* width: 581px; */
  /* height: 535px; */
  width: 100%;
  height: 100%;
  margin-top: -25vh;
  z-index: 2;
}

@media screen and (max-width: 966px) {
  .heroIllustrationContainer {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}

.heroCTAFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  padding-right: 99px;
}

@media screen and (max-width: 966px) {
  .heroCTAFlex {
    padding: 0;
  }
}

.heroCTACopy {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-primary-blackish);
}

@media screen and (max-width: 966px) {
  .heroCTACopy {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.heroButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

@media screen and (max-width: 966px) {
  .heroButtonsContainer {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.heroCTAButton {
  background-color: var(--color-primary-blackish);
  color: var(--color-primary-white);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  min-width: 235px;
  transition: all ease-in-out 0.25s;
}

.heroCTAButton:hover {
  color: var(--color-primary-light-turquoise);
  text-decoration: none;
}

.heroSecondaryButton {
  background-color: transparent;
  color: var(--color-medium-grey);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  min-width: 235px;
  transition: all ease-in-out 0.25s;
}

.heroSecondaryButton:hover {
  color: var(--color-primary-blackish);
  text-decoration: none;
}

.heroSvgDecoratorContainer {
  width: 100%;
  height: 100%;
}

.heroSvgDecorator {
  /* margin-top: -65px; */
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media screen and (max-width: 966px) {
  .heroSvgDecorator {
    display: none;
  }
}
