.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 143px 96px 153px;
  background-color: var(--color-primary-blackish);
}

@media screen and (max-width: 966px) {
  .introContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  padding-left: 75px;
  padding-right: 75px;
}

@media screen and (max-width: 966px) {
  .contentGrid {
    grid-template-columns: 1fr;
    margin-bottom: 38.5px;
    padding: 0;
  }
}

.flexCTA {
  margin-top: 38.5px;
}

@media screen and (max-width: 966px) {
  .flexCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.introCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-primary-white);
}

.introCTACopy {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-primary-white);
}

@media screen and (max-width: 966px) {
  .introCTACopy {
    padding: 0;
    margin-bottom: 38.5px;
  }
}

@media screen and (max-width: 966px) {
  .introCTACopy {
    padding: 0;
    margin-bottom: 38.5px;
  }
}

.introCTAButton {
  background-color: var(--color-secondary-dirty-grey);
  color: var(--color-primary-blackish);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
}

.introCTAButton:hover {
  color: var(--color-primary-blackish);
}

.communityIllustrationContainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 966px) {
  .communityIllustrationContainer {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
  }
}

.communityIllustration {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.memberIllustration {
  width: 100%;
  height: 100%;
  /* height: 500px; */
  object-fit: cover;
  object-position: bottom;
}
