.memberFirstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 143px 0px 153px;
  background-color: var(--color-primary-blackish);
}

@media screen and (max-width: 966px) {
  .memberFirstContainer {
    padding: 0 1rem;
  }
}

.firstContentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  padding-top: 96px;
  padding-left: 75px;
  padding-right: 75px;
}
@media screen and (max-width: 966px) {
  .firstContentGrid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}

.flexMemberCTA {
  margin-top: 38.5px;
  order: 1;
}

@media screen and (max-width: 966px) {
  .flexMemberCTA {
    order: 2;
  }
}
.memberCTAHeading {
  font-size: var(--font-size-section-heading);
  font-weight: var(--font-weight-section-heading);
  line-height: var(--line-height-section-heading);
  letter-spacing: var(--letter-spacing-section-heading);
  color: var(--color-primary-white);
}

@media screen and (max-width: 966px) {
  .memberCTAHeading {
    font-size: 36px;
  }
}

.memberCTACopy {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: var(--line-height-section-copy);
  color: var(--color-primary-white);
}

@media screen and (max-width: 966px) {
  .memberCTACopy {
    padding: 0;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

@media screen and (max-width: 966px) {
  .buttonsContainer {
    flex-direction: column;
  }
}

.memberCTAButton {
  background-color: var(--color-secondary-dirty-grey);
  color: var(--color-primary-blackish);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  min-width: 235px;
}

@media screen and (max-width: 966px) {
  .memberCTAButton {
    padding: 0 1rem;
  }
}

.memberCTAButton:hover {
  color: var(--color-primary-blackish);
}

.memberSecondaryButton {
  background-color: transparent;
  color: var(--color-secondary-dirty-grey);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  min-width: 235px;
}

.memberSecondaryButton:hover {
  color: var(--color-primary-light-turquoise);
}

.memberIllustrationContainer {
  /* width: 500px;
  height: 500px; */
  width: 100%;
  height: 100%;
  order: 2;
}

@media screen and (max-width: 966px) {
  .memberIllustrationContainer {
    order: 1;
  }
}

.memberIllustration {
  width: 100%;
  height: 100%;
  /* height: 500px; */
  object-fit: cover;
  object-position: bottom;
}

.memberSecondContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 143px 0px 153px;
  background: linear-gradient(
    180deg,
    var(--color-primary-blackish) 0%,
    #272020 100%
  );
}

@media screen and (max-width: 966px) {
  .memberSecondContainer {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.secondContentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  align-items: center;
  padding-top: 96px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 96px;
}
@media screen and (max-width: 966px) {
  .secondContentGrid {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    align-items: center;
    padding: 1rem;
  }
}
