.socialLinkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialLinkName {
  color: var(--color-primary-white);
  font-size: var(--font-size-section-copy);
  font-weight: var(--font-weight-section-copy);
  line-height: 130%;
  word-wrap: normal;
  padding-top: 18px;
}

.socialLinkAnchor:hover {
  text-decoration: none;
}
